# Visual Studio
/.vs
/.vscode
/Архив 1-2 курс/PgLg_Filatov_2_sem/Database_of_Students/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Database_of_Students/Database_of_Students/Debug
/Архив 1-2 курс/PgLg_Filatov_2_sem/Database_of_Students/Database_of_Students/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Exam/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Exam/Exam/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_0/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_0/Practic_0/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_1/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_1/Practic_1/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_2/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_2/Practic_2/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_3/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_3/Practic_3/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_4/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_4/Practic_4/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_5/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_5/Practic_5/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_6/Practic_6/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_6/Practic_6/Practic_6/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_8-9/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Practic_8-9/Practic_8-9/x64
/Архив 1-2 курс/PgLg_Filatov_2_sem/Testing_Functions/.vs
/Архив 1-2 курс/PgLg_Filatov_2_sem/Testing_Functions/Testing_Functions/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic3/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic3/practic3/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic5/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic5/practic5/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic6/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic6/practic6/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic7/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/practic7/practic7/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/prac6ili5/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/prac6ili5/prac6ili5/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/аудиторная_2/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/аудиторная_2/practic7/x64
/Архив 1-2 курс/PgLg_Mersov_1_sem/функции_06_12_2022/.vs
/Архив 1-2 курс/PgLg_Mersov_1_sem/функции_06_12_2022/practic7/x64
/Архив 1-2 курс/Synchronization_of_procesess/.vs
/Архив 1-2 курс/Synchronization_of_procesess/Synchronization_of_procesess/x64
/Архив 1-2 курс/TMP_Filatov_3_sem/Algorithms_on_Graphs_TMP_02/.vs
/Архив 1-2 курс/TMP_Filatov_3_sem/Algorithms_on_Graphs_TMP_02/Algorithms_on_Graphs_TMP_02/x64
/Архив 1-2 курс/TMP_Filatov_3_sem/SortLinearList_TMP/.vs
/Архив 1-2 курс/TMP_Filatov_3_sem/SortLinearList_TMP/SortLinearList_TMP/x64
/Архив 1-2 курс/TMP_Filatov_3_sem/Анализ_рекурсивного_алгоритма/.vs
/Архив 1-2 курс/TMP_Filatov_3_sem/Анализ_рекурсивного_алгоритма/Анализ_рекурсивного_алгоритма/x64
/Архив 1-2 курс/TMP_Filatov_3_sem/Типовой_расчет_по_графам/.vs
/Архив 1-2 курс/TMP_Filatov_3_sem/Типовой_расчет_по_графам/Типовой_расчет_по_графам/x64